<h1 class="headline headline-blue" id="kpis">KPIs</h1>
      <div class="container">
            <div id="dummy-graph-1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <br>
            <hr>
            <div class="row">
              <div class="col-md-4" id="dummy-graph-2" style="min-width: 310px; height: 310px; margin: 0 auto"></div>
              <div class="col-md-4" id="dummy-graph-3" style="min-width: 310px; height: 310px; margin: 0 auto"></div>
              <div class="col-md-4" id="dummy-graph-4" style="min-width: 310px; height: 310px; margin: 0 auto"></div>
            </div>
            <br>
            <hr>
              <div id="dummy-graph-5" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <br>
            <hr>
        </div>
