<nav class="navbar navbar-light navbar-fixed-top bg-faded">
  <div class="nav navbar-nav">
    <div class="container">
      <a class="nav-item nav-link active" href="#">Biosecurity <br>Tasmania
      <img src="/images/gov-logo.png" class="gov-logo" alt="Government Biosecurity Tasmania logo"></a>
      <a class="nav-item nav-link float-xs-right" href="#kpis">KPIs</a>
      <a class="nav-item nav-link float-xs-right" href="#postborder">Post-border</a>
      <a class="nav-item nav-link float-xs-right" href="#border">Border</a>
      <a class="nav-item nav-link float-xs-right" href="#preborder">Pre-border</a>
    </div>
  </div>
</nav>
