<nav class="navbar navbar-light navbar-fixed-top bg-faded">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link active" href="#">Biosecurity Tasmania <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link float-xs-right" href="#">KPIs</a>
    <a class="nav-item nav-link float-xs-right" href="#postborder">Post-border</a>
    <a class="nav-item nav-link float-xs-right" href="#">Border</a>
    <a class="nav-item nav-link float-xs-right" href="#">Pre-border</a>



  </div>
</nav>
