
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <br/>
      <nav class="navbar navbar-light navbar-fixed-top bg-faded">
        <button class="navbar-toggler hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#CollapseNavbar">
        </button>
        <div class="collapse navbar-toggleable-xs" id="CollapseNavbar">
            <a class="nav-item nav-link active page-scroll" href="#page-top">
            <img src="/images/gov-logo.png" class="gov-logo" alt="Government Biosecurity Tasmania logo">
            <h3 class="brand-title">Biosecurity Tasmania</h3>
            </a>
            <ul class="nav navbar-nav">
            <li>
              <a class="nav-item nav-link float-xs-right page-scroll" href="#kpis">KPIs</a>
            </li>
            <li>
              <a class="nav-item nav-link float-xs-right page-scroll" href="#postborder">Post-border</a>
            </li>
            <li>
              <a class="nav-item nav-link float-xs-right page-scroll" href="#border">Border</a>
            </li>
            <li>
              <a class="nav-item nav-link float-xs-right page-scroll" href="#preborder">Pre-border</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
