
<div class="picture-background">

  <h1 class="headline headline-white" id="postborder">POST-BORDER</h1>
      <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="card">
                <div class="black-white-icon">
                  <img class="card-img-top" src="/images/weeds-300-square.png" alt="Weeds">
                </div>
                <div class="card-block">
                  <h4 class="card-title">WEEDS</h4>
                  <p class="card-text">Declared and non-declared weeds. Reported by members of the public. Includes Rust.</p>
                  <a class="btn btn-default" href="#collapseWeeds" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseWeeds">view all</a>
                  <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalWeeds">new entry</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="card">
                <div class="black-white-icon">
                  <img class="card-img-top" src="/images/invasives-300-square.png" alt="invasive animals">
                </div>
                <div class="card-block">
                  <h4 class="card-title">INVASIVES</h4>
                  <p class="card-text">Animal pest being controlled or regulated. Includes reports from public and baiting programs.</p>
                  <a class="btn btn-default" href="#collapseInvasives" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseInvasives">view all</a>
                  <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalInvasives">new entry</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="card">
                <div class="black-white-icon">
                  <img class="card-img-top" src="/images/PED-300-square.png" alt="post entry detection">
                </div>
                <div class="card-block">
                  <h4 class="card-title">PED</h4>
                  <p class="card-text">Post Entry Detection, reported by members of the public. Interstate & Commonwealth.</p>
                  <a class="btn btn-default" href="#collapsePED" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapsePED">view all</a>
                  <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalPED">new entry</a>
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="collapse" id="collapseWeeds">
            <div class="card card-block">
              <h4>WEEDS</h4>
              <br>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Case #</th>
                      <th>Species</th>
                      <th>Class</th>
                      <th>Location</th>
                      <th>Status</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>5</td>
                      <td>Naughty weed</td>
                      <td>Declared</td>
                      <td>-42.542/142.532</td>
                      <td>To visit</td>
                      <td>4/5/16</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Crazy weed</td>
                      <td>Declared</td>
                      <td>-42.008/142.042</td>
                      <td>To visit</td>
                      <td>28/4/16</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Naughty weed</td>
                      <td>Declared</td>
                      <td>-42.548/142.537</td>
                      <td>Inspected</td>
                      <td>24/4/16</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Middle weed</td>
                      <td>not declared</td>
                      <td>-42.782/142.511</td>
                      <td>Letter sent</td>
                      <td>22/4/16</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Nasty weed</td>
                      <td>Declared</td>
                      <td>-42.122/142.6788</td>
                      <td>Letter sent</td>
                      <td>20/4/16</td>
                    </tr>
                  </tbody>
                </table>
                <a href="#collapseWeeds" data-toggle="collapse" class="btn btn-default btn-sm active" role="button">Close</a>
            </div>
          </div>
          <div class="collapse" id="collapseInvasives">
            <div class="card card-block">
              <h4>INVASIVES</h4>
              <br>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Case #</th>
                      <th>Species</th>
                      <th>Location</th>
                      <th>Status</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>5</td>
                      <td>Feral cat</td>
                      <td>-42.542/142.532</td>
                      <td>Inspected</td>
                      <td>30/8/16</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Rabbit</td>
                      <td>-42.008/142.042</td>
                      <td>Bait applied</td>
                      <td>24/8/16</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Feral cat</td>
                      <td>-42.548/142.537</td>
                      <td>Inspected</td>
                      <td>23/8/16</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Fox sighting</td>
                      <td>-42.782/142.511</td>
                      <td>Reported by MoP</td>
                      <td>22/8/16</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Rabbit</td>
                      <td>-42.122/142.6788</td>
                      <td>Bait applied</td>
                      <td>20/7/16</td>
                    </tr>
                  </tbody>
                </table>
                <a href="#collapseInvasives" data-toggle="collapse" class="btn btn-default btn-sm active" role="button">Close</a>
            </div>
          </div>
          <div class="collapse" id="collapsePED">
            <div class="card card-block">
              <h4>PED</h4>
              <br>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Case #</th>
                    <th>BRM</th>
                    <th>Importance</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>3</td>
                    <td>Insect in rice</td>
                    <td>Actionable</td>
                    <td>-42.548/142.537</td>
                    <td>Inspected</td>
                    <td>24/4/16</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Turtle</td>
                    <td>Actionable</td>
                    <td>-42.782/142.511</td>
                    <td>Euthanized</td>
                    <td>22/4/16</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Snake</td>
                    <td>Actionable</td>
                    <td>-42.122/142.6788</td>
                    <td>Surrendered to Wildlife</td>
                    <td>20/4/16</td>
                  </tr>
                </tbody>
              </table>
              <a href="#collapsePED" data-toggle="collapse" class="btn btn-default btn-sm active" role="button">Close</a>
          </div>
        </div>


              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="card">
                    <div class="black-white-icon">
                      <img class="card-img-top" src="/images/AQP-audit-300-square.png" alt="approved quarantine places audit">
                    </div>
                    <div class="card-block">
                      <h4 class="card-title">AQP AUDIT</h4>
                      <p class="card-text">Approved Quarantine Places available for inspection</p>
                      <a class="btn btn-default" href="#collapseAQPaudits" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseWeeds">view all</a>
                      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalAQP">new entry</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="card">
                    <div class="black-white-icon">
                      <img class="card-img-top " src="/images/AHA-audit-300-square.png" alt="animal health audit">
                    </div>
                    <div class="card-block">
                      <h4 class="card-title">AHA</h4>
                      <p class="card-text">Chooks and pigs farm audits. RAMS audits</p>
                      <a class="btn btn-default" href="#collapseAHAaudits" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseWeeds">view all</a>
                      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalAHA">new entry</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="card">
                    <div class="black-white-icon">
                      <img class="card-img-top" src="/images/AWA-audit-300-square.png" alt="animal welfare audit">
                    </div>
                    <div class="card-block">
                      <h4 class="card-title">AWA</h4>
                      <p class="card-text">Sales Yards and Abbatoir audits for animal welfare</p>
                      <a class="btn btn-default" href="#collapseAWAaudits" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseWeeds">view all</a>
                      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalAWA">new entry</a>
                    </div>
                  </div>
                </div>
              </div>

          <div class="collapse" id="collapseAQPaudits">
            <div class="card card-block">
              <h4>AQP Audits</h4>
              <br>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>AQP #</th>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Location</th>
                      <th>Status</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>BT457</td>
                      <td>Big fruit</td>
                      <td>F&V</td>
                      <td>-42.542/142.532</td>
                      <td>Accredited</td>
                      <td>30/8/16</td>
                    </tr>
                    <tr>
                      <td>BT413</td>
                      <td>Fresh Best</td>
                      <td>F&V</td>
                      <td>-42.008/142.042</td>
                      <td>Accredited</td>
                      <td>24/8/16</td>
                    </tr>
                    <tr>
                      <td>BT222</td>
                      <td>Bunnings</td>
                      <td>Plants</td>
                      <td>-42.548/142.537</td>
                      <td>Accredited</td>
                      <td>23/8/16</td>
                    </tr>
                    <tr>
                      <td>BT265</td>
                      <td>Pretty samples</td>
                      <td>Labs</td>
                      <td>-42.782/142.511</td>
                      <td class="orange">Renewal pending</td>
                      <td>22/8/16</td>
                    </tr>
                    <tr>
                      <td>BT102</td>
                      <td>Green treasures</td>
                      <td>Plants</td>
                      <td>-42.122/142.6788</td>
                      <td>Accredited</td>
                      <td>20/7/16</td>
                    </tr>
                  </tbody>
                </table>
                <a href="#collapseAQPaudits" data-toggle="collapse" class="btn btn-default btn-sm active" role="button">Close</a>
            </div>
          </div>
          <div class="collapse" id="collapseAHAaudits">
            <div class="card card-block">
              <h4>AHA Audits</h4>
              <br>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Farm #</th>
                      <th>Name</th>
                      <th>Commodity</th>
                      <th>Location</th>
                      <th>Inspection</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>AH485</td>
                      <td>Happy hens</td>
                      <td>Chooks</td>
                      <td>-42.542/142.532</td>
                      <td>Pass</td>
                      <td>30/8/16</td>
                    </tr>
                    <tr>
                      <td>AH212</td>
                      <td>Hoin Hoin</td>
                      <td>Pigs</td>
                      <td>-42.008/142.042</td>
                      <td>Pass</td>
                      <td>24/8/16</td>
                    </tr>
                    <tr>
                      <td>AH212</td>
                      <td>Hoin Hoin</td>
                      <td>Pigs</td>
                      <td>-42.548/142.537</td>
                      <td class="red">Issue #456</td>
                      <td>23/8/16</td>
                    </tr>
                    <tr>
                      <td>AH898</td>
                      <td>Cocoricoo</td>
                      <td>Chooks</td>
                      <td>-42.782/142.511</td>
                      <td>Pass</td>
                      <td>22/8/16</td>
                    </tr>
                    <tr>
                      <td>AH004</td>
                      <td>Chick chooks</td>
                      <td>Chooks</td>
                      <td>-42.122/142.6788</td>
                      <td class="red">Issue #122</td>
                      <td>20/7/16</td>
                    </tr>
                  </tbody>
                </table>
                <a href="#collapseAHAaudits" data-toggle="collapse" class="btn btn-default btn-sm active" role="button">Close</a>
            </div>
          </div>
          <div class="collapse" id="collapseAWAaudits">
            <div class="card card-block">
              <h4>AWA Audits</h4>
              <br>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Establishment #</th>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Location</th>
                      <th>Status</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>AW102</td>
                      <td>True beef</td>
                      <td>Sales Yard</td>
                      <td>-42.542/142.532</td>
                      <td>Pass</td>
                      <td>30/8/16</td>
                    </tr>
                    <tr>
                      <td>AW102</td>
                      <td>True beef</td>
                      <td>Sales Yard</td>
                      <td>-42.008/142.042</td>
                      <td>Pass</td>
                      <td>24/8/16</td>
                    </tr>
                    <tr>
                      <td>AW876</td>
                      <td>Dropchop</td>
                      <td>Abbatoir</td>
                      <td>-42.548/142.537</td>
                      <td>Pass</td>
                      <td>23/8/16</td>
                    </tr>
                    <tr>
                      <td>AW334</td>
                      <td>Dirtychop</td>
                      <td>Abbatoir</td>
                      <td>-42.782/142.511</td>
                      <td class="red">Issue #872</td>
                      <td>22/8/16</td>
                    </tr>
                    <tr>
                      <td>AW908</td>
                      <td>Gallop</td>
                      <td>Sales Yard</td>
                      <td>-42.122/142.6788</td>
                      <td>Pass</td>
                      <td>20/7/16</td>
                    </tr>
                  </tbody>
                </table>
                <a href="#collapseAWAaudits" data-toggle="collapse" class="btn btn-default btn-sm active" role="button">Close</a>
            </div>
          </div>
          <br>
          <div class="row row-last">
            <div class="col-md-12">
              <div class="card">
                <div class="black-white-icon">
                  <img class="card-img-top" src="/images/surveys-300-square.png" alt="quarantine surveys">
                </div>
                <div class="card-block">
                  <h4 class="card-title">SURVEY</h4>
                  <p class="card-text">Fruit Fly, Codling Moth, Gypsy Moth, Brown Marmorated Sting Bug, Warehouse beetle</p>
                  <!-- <a class="btn btn-default" href="#" role="button">view all</a> -->
                </div>
              </div>
            </div>
          </div>

      </div>
</div>

<!-- modal Weeds -->
<div id="modalWeeds" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Weed report</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid bd-example-row">
          <div class="row">
            <div class="container">
              <form>
                <div class="form-group row">
                  <label for="example-date-input" class="col-xs-2 col-form-label">Date</label>
                  <div class="col-xs-10">
                    <input class="form-control" type="date" value="2017-01-05" id="example-date-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Species</label>
                  <div class="col-sm-10">
                    <input type="name" class="form-control" id="inputEmail3" placeholder="Nasty weed">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="form-group">
                  <label for="exampleTextarea">Comments</label>
                  <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                </div>
                <fieldset class="form-group row">
                  <legend class="col-form-legend col-sm-2">Weed density</legend>
                  <div class="col-sm-10">
                    <div class="form-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        High
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        Medium
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                        Low
                      </label>
                    </div>
                  </div>
                </fieldset>
                <div class="form-group row">
                  <label class="col-sm-2">Compliance</label>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Pty to visit <br>
                        <input class="form-check-input" type="checkbox"> Letter sent <br>
                        <input class="form-check-input" type="checkbox"> Pty inspected <br>
                        <input class="form-check-input" type="checkbox"> Pty re-inspected <br>
                        <input class="form-check-input" type="checkbox"> Infringment notice issued <br>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2">Lat</label>
                  <div class="col-sm-4">
                    <input type="email" class="form-control" id="lat" placeholder="-42.65436">
                  </div>
                  <label class="col-sm-2">Long</label>
                  <div class="col-sm-4">
                    <input type="email" class="form-control" id="lat" placeholder="142.74987">
                  </div>
                </div>
                <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted"> Attach pictures or any files</small>
              </div>
              </form>
            </div>
          </div>
    </div>
  </div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save</button>
</div>
</div>
</div>
</div>

<!-- modal Invasives -->
<div id="modalInvasives" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Invasive animal report</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid bd-example-row">
          <div class="row">
            <div class="container">
              <form>
                <div class="form-group row">
                  <label for="example-date-input" class="col-xs-2 col-form-label">Date</label>
                  <div class="col-xs-10">
                    <input class="form-control" type="date" value="2017-01-05" id="example-date-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Species</label>
                  <div class="col-sm-10">
                    <input type="name" class="form-control" id="inputEmail3" placeholder="Feral Cat">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="form-group">
                  <label for="exampleTextarea">Comments</label>
                  <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2">Compliance</label>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Pty to visit <br>
                        <input class="form-check-input" type="checkbox"> Letter sent <br>
                        <input class="form-check-input" type="checkbox"> Pty inspected <br>
                        <input class="form-check-input" type="checkbox"> Pty re-inspected <br>
                        <input class="form-check-input" type="checkbox"> Infringment notice issued <br>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2">Lat</label>
                  <div class="col-sm-4">
                    <input type="email" class="form-control" id="lat" placeholder="-42.65436">
                  </div>
                  <label class="col-sm-2">Long</label>
                  <div class="col-sm-4">
                    <input type="email" class="form-control" id="lat" placeholder="142.74987">
                  </div>
                </div>
                <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted"> Attach pictures or any files</small>
              </div>
              </form>
            </div>
          </div>
    </div>
  </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>

<!-- modal PED -->
<div id="modalPED" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridModalLabel">PED report</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid bd-example-row">
            <div class="row">
              <div class="container">
                <form>
                  <div class="form-group row">
                    <label for="example-date-input" class="col-xs-2 col-form-label">Date</label>
                    <div class="col-xs-10">
                      <input class="form-control" type="date" value="2017-01-05" id="example-date-input">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">BRM description</label>
                    <div class="col-sm-10">
                      <input type="name" class="form-control" id="inputEmail3" placeholder="live insect in bag of rice">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">MQEI number</label>
                    <div class="col-sm-10">
                      <input type="name" class="form-control" id="inputEmail3" placeholder="EN76589">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="form-group">
                    <label for="exampleTextarea">Comments</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                  </div>
                  </div>
                  <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Actionable ?
                  </label>
                </div>

                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2">Lat</label>
                        <div class="col-sm-4">
                          <input type="email" class="form-control" id="lat" placeholder="-42.65436">
                        </div>
                    <label class="col-sm-2">Long</label>
                        <div class="col-sm-4">
                          <input type="email" class="form-control" id="lat" placeholder="142.74987">
                        </div>
                  </div>
                        <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                        <small id="fileHelp" class="form-text text-muted"> Attach pictures or any files</small>
                      </div>
                </form>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save</button>
                </div>

              </div>
            </div>
      </div>
    </div>
</div>
</div>
</div>

<!-- modal AQP -->
<div id="modalAQP" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">AQP new registration</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid bd-example-row">
          <div class="row">
            <div class="container">
              <form>
                <div class="form-group row">
                  <label for="example-date-input" class="col-xs-1 col-form-label">Reg on:</label>
                  <div class="col-xs-5">
                    <input class="form-control" type="date" value="2017-01-05" id="example-date-input">
                  </div>
                  <label for="example-date-input" class="col-xs-1 col-form-label">Exp on:</label>
                  <div class="col-xs-5">
                    <input class="form-control" type="date" value="2018-01-05" id="example-date-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Class</label>
                  <div class="col-sm-10">
                    <input type="name" class="form-control" id="inputEmail3" placeholder="6.2">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="form-group">
                  <label for="exampleTextarea">Comments</label>
                  <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Requiring follow up? <br>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2">Lat</label>
                  <div class="col-sm-4">
                    <input type="email" class="form-control" id="lat" placeholder="-42.65436">
                  </div>
                  <label class="col-sm-2">Long</label>
                  <div class="col-sm-4">
                    <input type="email" class="form-control" id="lat" placeholder="142.74987">
                  </div>
                </div>
                <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted"> Attach pictures or any files</small>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
  </div>
</div>

<!-- modal AHA -->
<div id="modalAHA" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">AHA audit</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid bd-example-row">
          <div class="row">
            <div class="container">
              <form>
                <div class="form-group row">
                  <label for="example-date-input" class="col-xs-2 col-form-label">Date</label>
                  <div class="col-xs-10">
                    <input class="form-control" type="date" value="2017-01-05" id="example-date-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Farm</label>
                  <div class="col-sm-10">
                    <input type="name" class="form-control" id="inputEmail3" placeholder="Chookerrific">
                  </div>
                </div>
                  <fieldset class="form-group">
                    <legend>Audit type</legend>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Chicken audit
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                        Pig audit
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
                          RAMS audit
                        </label>
                      </div>
                    </fieldset>
                <div class="form-group row">
                  <div class="form-group">
                  <label for="exampleTextarea">Comments</label>
                  <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2">Compliance</label>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Pass <br>
                        <input class="form-check-input" type="checkbox"> DIR Issue <br>
                        <input class="form-check-input" type="checkbox"> Re-inspection required <br>
                        <input class="form-check-input" type="checkbox"> Infringment notice issued <br>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2">Lat</label>
                  <div class="col-sm-4">
                    <input type="email" class="form-control" id="lat" placeholder="-42.65436">
                  </div>
                  <label class="col-sm-2">Long</label>
                  <div class="col-sm-4">
                    <input type="email" class="form-control" id="lat" placeholder="142.74987">
                  </div>
                </div>
                <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted"> Attach pictures or any files</small>
              </div>
              </form>
            </div>
          </div>
    </div>
  </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
</div>

<!-- modal AWA -->
<div id="modalAWA" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">AWA Audit - surveillance</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid bd-example-row">
          <div class="row">
            <div class="container">
              <form>
                <div class="form-group row">
                  <label for="example-date-input" class="col-xs-2 col-form-label">Date</label>
                  <div class="col-xs-10">
                    <input class="form-control" type="date" value="2017-01-05" id="example-date-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Farm</label>
                  <div class="col-sm-10">
                    <input type="name" class="form-control" id="inputEmail3" placeholder="Powranna">
                  </div>
                </div>
                  <fieldset class="form-group">
                    <legend>Audit type</legend>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Sales Yard
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                        Abbatoir
                      </label>
                    </div>
                    </fieldset>
                <div class="form-group row">
                  <div class="form-group">
                  <label for="exampleTextarea">Comments</label>
                  <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2">Compliance</label>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Pass <br>
                        <input class="form-check-input" type="checkbox"> DIR Issue <br>
                        <input class="form-check-input" type="checkbox"> Re-inspection required <br>
                        <input class="form-check-input" type="checkbox"> Infringment notice issued <br>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2">Lat</label>
                  <div class="col-sm-4">
                    <input type="email" class="form-control" id="lat" placeholder="-42.65436">
                  </div>
                  <label class="col-sm-2">Long</label>
                  <div class="col-sm-4">
                    <input type="email" class="form-control" id="lat" placeholder="142.74987">
                  </div>
                </div>
                <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted"> Attach pictures or any files</small>
              </div>
              </form>
            </div>
          </div>
    </div>
  </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
</div>
