
<div class="picture-background">

  <h1 class="headline headline-white">POST-BORDER</h1>
      <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="card">
                <div class="black-white-icon">
                  <img class="card-img-top" src="/images/weeds-300-square.png" alt="Weeds">
                </div>
                <div class="card-block">
                  <h4 class="card-title">WEEDS</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="card">
                <div class="black-white-icon">
                  <img class="card-img-top" src="/images/invasives-300-square.png" alt="invasive animals">
                </div>
                <div class="card-block">
                  <h4 class="card-title">INVASIVES</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="card">
                <div class="black-white-icon">
                  <img class="card-img-top" src="/images/PED-300-square.png" alt="post entry detection">
                </div>
                <div class="card-block">
                  <h4 class="card-title">PED</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="card">
                <div class="black-white-icon">
                  <img class="card-img-top" src="/images/AQP-audit-300-square.png" alt="approved quarantine places audit">
                </div>
                <div class="card-block">
                  <h4 class="card-title">AQP AUDIT</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="card">
                <div class="black-white-icon">
                  <img class="card-img-top " src="/images/AHA-audit-300-square.png" alt="animal health audit">
                </div>
                <div class="card-block">
                  <h4 class="card-title">AHA AUDIT</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="card">
                <div class="black-white-icon">
                  <img class="card-img-top" src="/images/AWA-audit-300-square.png" alt="animal welfare audit">
                </div>
                <div class="card-block">
                  <h4 class="card-title">AWA AUDIT</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="black-white-icon">
                  <img class="card-img-top" src="/images/surveys-300-square.png" alt="quarantine surveys">
                </div>
                <div class="card-block">
                  <h4 class="card-title">SURVEY</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>

      </div>
</div>
