<div class="wrapper-blue">
<h1 class="headline headline-white" id="preborder">PRE-BORDER</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <div class="black-white-icon-lg">
              <img class="card-img-top" src="/images/bee-300.png" alt="Bee">
            </div>
              <div class="card-block">
                <p class="card-text">Some serious text here</p>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <div class="black-white-icon-lg">
              <img class="card-img-top" src="/images/wildlife-300.png" alt="Wildlife">
            </div>
              <div class="card-block">
                <p class="card-text">Some serious text here</p>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <div class="black-white-icon-lg">
              <img class="card-img-top" src="/images/special-authorities-300.png" alt="Documents">
            </div>
              <div class="card-block">
                <p class="card-text">Some serious text here</p>
              </div>
          </div>
        </div>
      <!-- </div> -->
      <!-- <div class="row"> -->
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <div class="black-white-icon-lg">
              <img class="card-img-top" src="/images/ferry-300.png" alt="Ferry">
            </div>
              <div class="card-block">
                <p class="card-text">Some serious text here</p>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <div class="black-white-icon-lg">
              <img class="card-img-top" src="/images/noi-small-300.png" alt="Documents">
            </div>
              <div class="card-block">
                <p class="card-text">Some serious text here</p>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <div class="black-white-icon-lg">
              <img class="card-img-top" src="/images/inspection-300.png" alt="Inspection">
            </div>
              <div class="card-block">
                <p class="card-text">Some serious text here</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
