<div class="wrapper-blue">
<h1 class="headline headline-preborder headline-white" id="preborder">PRE-BORDER</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <div class="black-white-icon">
              <a href="#collapseBees" class="card-link" data-toggle="collapse" aria-expanded="false" aria-controls="collapseBees"><img class="card-img-top" src="/images/bee-300.png" alt="Bee"></a>
            </div>
            <hr class="hr-no-margin">
              <div class="card-block">
                  <p class="card-text">Bee health certificates</p>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <div class="black-white-icon">
              <a href="#collapseWildlife" class="card-link" data-toggle="collapse" aria-expanded="false" aria-controls="collapseWildlife"><img class="card-img-top" src="/images/wildlife-300.png" alt="Wildlife"></a>
            </div>
            <hr class="hr-no-margin">
              <div class="card-block">
                  <p class="card-text">Wildlife Permits</p>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <div class="black-white-icon">
              <a href="#collapseSA" class="card-link" data-toggle="collapse" aria-expanded="false" aria-controls="collapseSA"><img class="card-img-top" src="/images/special-authorities-300.png" alt="Documents"></a>
            </div>
            <hr class="hr-no-margin">
              <div class="card-block">
                  <p class="card-text">Special authorities, variations...</p>
              </div>
          </div>
        </div>
      </div>



      <!-- collapsables -->
      <!-- Begin of bee Collapsable -->
      <div class="collapse" id="collapseBees">
        <div class="card card-block">
          <h4>Bee Health Certificates</h4>
          <br>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Importer name</th>
                  <th>Destination in Tas</th>
                  <th>Exporter name</th>
                  <th>Address on mainland</th>
                  <th>Number of Queens</th>
                  <th>Inspector name</th>
                  <th>Date of inspection</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ron Buzz</td>
                  <td>200 Westbury rd, Prospect, TAS 7250</td>
                  <td>Brenda Exp</td>
                  <td>100 Leewood drive, Orange, NSW 2800</td>
                  <td>50</td>
                  <td>Brett Officer</td>
                  <td>19/12/16</td>
                </tr>
                <tr>
                  <td>Ralf Bumble</td>
                  <td>320 Main rd, Launceston, TAS 7220</td>
                  <td>Brenda Exp</td>
                  <td>100 Leewood drive, Orange, NSW 2800</td>
                  <td>10</td>
                  <td>Carole Inspector</td>
                  <td>18/12/16</td>
                </tr>
                <tr>
                  <td>Oscar Beelike</td>
                  <td>50 Green street, Leslie Vale, TAS 7009</td>
                  <td>Jess Cooper</td>
                  <td>14 Highbuzz drive, Purple, NSW 2500</td>
                  <td>50</td>
                  <td>Brett Officer</td>
                  <td>17/12/16</td>
                </tr>
                <tr>
                  <td>Simon Lovebees</td>
                  <td>500 Clear rd, Huonville, TAS 7090</td>
                  <td>Jess Cooper</td>
                  <td>14 Highbuzz drive, Purple, NSW 2500</td>
                  <td>3</td>
                  <td>Carole Officer</td>
                  <td>15/12/16</td>
                </tr>
                <tr>
                  <td>Keith Jackson</td>
                  <td>38 Grasshill road, Howrah, TAS 7018</td>
                  <td>Brenda Exp</td>
                  <td>100 Leewood drive, Orange, NSW 2800</td>
                  <td>150</td>
                  <td>Brett Inspector</td>
                  <td>14/12/16</td>
                </tr>
              </tbody>
            </table>
            <a href="#collapseBees" data-toggle="collapse" class="btn btn-default btn-sm active" role="button">Close</a>
        </div>
      </div>
      <!-- end of bees -->

      <!-- beginning of wildlife -->
      <div class="collapse" id="collapseWildlife">
        <div class="card card-block">
          <h4>Wildlife Import Permit</h4>
          <br>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Permit Number</th>
                  <th>Importer name</th>
                  <th>Destination in Tas</th>
                  <th>Exporter name</th>
                  <th>Address on mainland</th>
                  <th>Number of animals</th>
                  <th>Species</th>
                  <th>Permit expiry date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>13319/16</td>
                  <td>Mike Parrote</td>
                  <td>10 Westbury rd, Prospect, TAS 7250</td>
                  <td>Birdy shop</td>
                  <td>45 Downtown street, Brisbane, QLD 4000</td>
                  <td>1</td>
                  <td>African Grey Parrot <i> (Psittacus erithacus)</i></td>
                  <td>23/01/17</td>
                </tr>
                <tr>
                  <td>13318/16</td>
                  <td>Sam Perrokeetee</td>
                  <td>100 Main rd, Kingston, TAS 7050</td>
                  <td>Birdy Mum</td>
                  <td>490 Uptown street, Brisbane, QLD 4000</td>
                  <td>4</td>
                  <td>Green Cheek Conure <i> (Pyrrhua molinae)</i></td>
                  <td>22/01/17</td>
                </tr>
                <tr>
                  <td>13317/16</td>
                  <td>Kerry Cassis</td>
                  <td>11 Sambosa rd, South Arm, TAS 7070</td>
                  <td>Claire Couscous</td>
                  <td>2290 Superlong street, Melbourne, VIC 3040</td>
                  <td>1</td>
                  <td>Red-tailed Black Cockatoo <i> (Calyptorhynchus banksii)</i></td>
                  <td>20/01/17</td>
                </tr>
                <tr>
                  <td>13316/16</td>
                  <td>Clive Tweet</td>
                  <td>10 Westbury rd, Prospect, TAS 7250</td>
                  <td>Corissa Chirp</td>
                  <td>60 Pecking street, Perth, QLD 6006</td>
                  <td>2</td>
                  <td>Moustached Parakeet <i> (Psittacula alexandri)</i></td>
                  <td>19/01/17</td>
                </tr>
                <tr>
                  <td>13307/16</td>
                  <td>Birdie Junior</td>
                  <td>23 Main rd, Claremont, TAS 7010</td>
                  <td>Birdy shop</td>
                  <td>45 Downtown street, Brisbane, QLD 4000</td>
                  <td>1</td>
                  <td>Eclectus Parrot <i> (Eclectus roratus)</i></td>
                  <td class="orange">4/01/17</td>
                </tr>
              </tbody>
            </table>
            <a href="#collapseWildlife" data-toggle="collapse" class="btn btn-default btn-sm active" role="button">Close</a>
        </div>
      </div>
      <!-- end of wildlife -->

      <!-- beginning of SA -->
      <div class="collapse" id="collapseSA">
        <div class="card card-block">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs float-xs-left">
              <li class="nav-item">
                <a class="nav-link active" href="#">Special Authorities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Variations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Registered Establishments</a>
              </li>
            </ul>
          </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Permit Number</th>
                  <th>Importer name</th>
                  <th>Commodity</th>
                  <th>Expiry date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>SA16-70</td>
                  <td>Mike Tester</td>
                  <td>Diagnostic samples from fish</td>
                  <td>23/05/17</td>
                </tr>
                <tr>
                  <td>SA16-65</td>
                  <td>Roger Rabbit</td>
                  <td>Goldfish</td>
                  <td>22/04/17</td>
                </tr>
                <tr>
                  <td>SA16-64</td>
                  <td>Walter Lovetanks</td>
                  <td>live rock</td>
                  <td>20/02/17</td>
                </tr>
                <tr>
                  <td>SA16-51</td>
                  <td>By the Sea Restaurant</td>
                  <td>Sea Urchin</td>
                  <td>19/02/17</td>
                </tr>
                <tr>
                  <td>SA16-12</td>
                  <td>Greatest Zoo</td>
                  <td>Pythons</td>
                  <td class="orange">4/01/17</td>
                </tr>
              </tbody>
            </table>
            <a href="#collapseSA" data-toggle="collapse" class="btn btn-default btn-sm active" role="button">Close</a>
        </div>
      </div>
      <!-- end of SA -->

      <!-- End of collapsable -->


      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <div class="black-white-icon">
              <a href="#collapseSPoTMelbourne" class="card-link" data-toggle="collapse" aria-expanded="false" aria-controls="collapseSPoTMelbourne"><img class="card-img-top" src="/images/ferry-300.png" alt="Ferry"></a>
            </div>
            <hr class="hr-no-margin">
              <div class="card-block">
                  <p class="card-text">Spirit of Tasmania - Melbourne side</p>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <div class="black-white-icon">
              <a href="#collapseNOIs" class="card-link" data-toggle="collapse" aria-expanded="false" aria-controls="collapseNOIs"><img class="card-img-top" src="/images/NOI-icon-300.png" alt="Documents"></a>
            </div>
            <hr class="hr-no-margin">
              <div class="card-block">
                  <p class="card-text">NOIs lodged by plant/F&V importers</p>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <div class="black-white-icon">
              <a href="#collapseInspection" class="card-link" data-toggle="collapse" aria-expanded="false" aria-controls="collapseInspection"><img class="card-img-top" src="/images/inspection-300.png" alt="Inspection"></a>
            </div>
            <hr class="hr-no-margin">
              <div class="card-block">
                  <p class="card-text">Consignment requiring inspection</p>
              </div>
          </div>
        </div>
      </div>

      <!-- collapsables -->
      <!-- Begin of SPoT Melbourne Collapsable -->
      <div class="collapse" id="collapseSPoTMelbourne">
        <div class="card card-block">
          <h4>SPoT - Melbourne Side</h4>
          <br>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date stamp</th>
                  <th>Vessel name</th>
                  <th>Number of vehicles</th>
                  <th>Number of stop cards</th>
                  <th>Kg of BRM collected</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>4/1/17 6PM</td>
                  <td>SPOT 1</td>
                  <td>540</td>
                  <td>89</td>
                  <td>138 Kg</td>
                </tr>
                <tr>
                  <td>3/1/17 6AM</td>
                  <td>SPOT 2</td>
                  <td>390</td>
                  <td>45</td>
                  <td>231 Kg</td>
                </tr>
                <tr>
                  <td>3/1/17 6PM</td>
                  <td>SPOT 1</td>
                  <td>430</td>
                  <td>71</td>
                  <td>198 Kg</td>
                </tr>
                <tr>
                  <td>2/1/17 6AM</td>
                  <td>SPOT 2</td>
                  <td>460</td>
                  <td>49</td>
                  <td>98 Kg</td>
                </tr>
                <tr>
                  <td>2/1/17 6PM</td>
                  <td>SPOT 1</td>
                  <td>554</td>
                  <td>123</td>
                  <td>231 Kg</td>
                </tr>
              </tbody>
            </table>
            <a href="#collapseSPoTMelbourne" data-toggle="collapse" class="btn btn-default btn-sm active" role="button">Close</a>
        </div>
      </div>
      <!-- end of SPoTMelbourne -->

      <!-- beginning of NOIs -->
      <div class="collapse" id="collapseNOIs">
        <div class="card card-block">
          <h4>NOIs</h4>
          <br>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Importer name</th>
                  <th>Destination in Tas</th>
                  <th>Exporter name</th>
                  <th>Address on mainland</th>
                  <th>Qty imported</th>
                  <th>Species</th>
                  <th>Date to enter Tasmania</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>The seed shop</td>
                  <td>10 Westbury rd, Prospect, TAS 7250</td>
                  <td>Fotherfrills</td>
                  <td>45 Downtown street, Brisbane, QLD 4000</td>
                  <td>10</td>
                  <td>Parsley <i> (Petroselinum crispum)</i></td>
                  <td>23/01/17</td>
                </tr>
                <tr>
                  <td>Mama grain</td>
                  <td>100 Main rd, Kingston, TAS 7050</td>
                  <td>The Free range Seed</td>
                  <td>490 Uptown street, Brisbane, QLD 4000</td>
                  <td>4</td>
                  <td>Veggie seeds<i> (various)</i></td>
                  <td>22/01/17</td>
                </tr>
                <tr>
                  <td>Beautiful flowers</td>
                  <td>11 Sambosa rd, South Arm, TAS 7070</td>
                  <td>Fresh Flowers</td>
                  <td>2290 Superlong street, Melbourne, VIC 3040</td>
                  <td>6</td>
                  <td>Cut flowers <i> (various)</i></td>
                  <td>20/01/17</td>
                </tr>
                <tr>
                  <td>Awesome flowers</td>
                  <td>10 Westbury rd, Prospect, TAS 7250</td>
                  <td>Fresh Flowers</td>
                  <td>2290 Superlong street, Melbourne, VIC 3040</td>
                  <td>2</td>
                  <td>Cut flowers <i> (various)</i></td>
                  <td>20/01/17</td>
                </tr>
                <tr>
                  <td>Carole Private</td>
                  <td>23 Main rd, Claremont, TAS 7010</td>
                  <td>Pretty seeds</td>
                  <td>45 Downtown street, Brisbane, QLD 4000</td>
                  <td>18</td>
                  <td>herbs <i> (various)</i></td>
                  <td>14/01/17</td>
                </tr>
              </tbody>
            </table>
            <a href="#collapseNOIs" data-toggle="collapse" class="btn btn-default btn-sm active" role="button">Close</a>
        </div>
      </div>
      <!-- end of NOIs -->

      <!-- beginning of Inspection -->
      <div class="collapse" id="collapseInspection">
        <div class="card card-block">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs float-xs-left">
              <li class="nav-item">
                <a class="nav-link active" href="#">Nursery stock</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">F&V</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Machinery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cattle</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Container</a>
              </li>
            </ul>
          </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>DIR Number</th>
                  <th>Importer name</th>
                  <th>Comments</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>19763</td>
                  <td>Bunnings Plants</td>
                  <td>One consignment of plants to Bunnings Kingston to inspect in Hobart</td>
                  <td>23/01/17</td>
                </tr>
                <tr>
                  <td>19223</td>
                  <td>Bunnings Plants</td>
                  <td>One consignment of plants to Bunnings Glenorchy to inspect in Hobart</td>
                  <td>22/01/17</td>
                </tr>
                <tr>
                  <td>19216</td>
                  <td>Rokeby Garden</td>
                  <td>One truck to inspection at AQP235</td>
                  <td>20/01/17</td>
                </tr>
                <tr>
                  <td>19201</td>
                  <td>Kate Cut</td>
                  <td>Orchids to inspect in Launceston AQP934</td>
                  <td>19/01/17</td>
                </tr>
                <tr>
                  <td>18999</td>
                  <td>Bunnings Plants</td>
                  <td>One consingment of plants to inspect at Fresh Best AQP980</td>
                  <td>14/01/17</td>
                </tr>
              </tbody>
            </table>
            <a href="#collapseInspection" data-toggle="collapse" class="btn btn-default btn-sm active" role="button">Close</a>
        </div>
      </div>
      <!-- end of Inspection -->

      <!-- End of collapsables -->

    </div>
  </div>
