/*.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }*/

    .wrapper-blue {
      background-color: #30546F;
      padding-bottom: 2rem;
    }

    .red {
      color: red;
    }

    .orange {
      color: orange;
    }

    .picture-background {
      background: url('../images/postborder.png') top center no-repeat;
      background-size: cover;
    }

    .black-white-icon img {
      width: 150px;
      height: 150px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }

    .black-white-icon-lg img {
      width: 250px;
      height: 250px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }

    .navbar {
      padding-bottom: 0px;
    }

    .active {
      font-weight: bold;
    }

    .gov-logo {
      width:60px;
      height:auto;
      margin: 0 0;
      padding: 0 0;
      position: absolute;
      top: 5px;
      left: 5px;
    }

    .card-block {
      text-align: center;
      margin-top:0;
    }

    .headline-white {
      color: #FFF;
      font-weight: bold;
      text-align: center;
      padding-top: 90px;
      padding-bottom: 40px;
    }

    .headline-blue {
      color: #30546F;
      font-weight: bold;
      text-align: center;
      padding-top: 90px;
      padding-bottom: 40px;
    }

    .hr-no-margin {
      margin: 0;
    }

    table thead tr th {
      text-align: center;
    }

    footer {
      text-align: center;
    }


    .row-last {
      padding-bottom: 60px;
    }
