/*.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }*/


    .red {
      color: red;
    }

    .orange {
      color: orange;
    }

      .picture-background {
        background: url('../images/postborder.png') top center no-repeat;
        background-size: cover;
      }

      .black-white-icon img {
        width: 150px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
      }

      .card-block {
        text-align: center;
        margin-top:0;
      }

      .headline-white {
        color: #FFF;
        font-weight: bold;
        text-align: center;
        padding: 1.5rem 0;
      }

    table thead tr th {
      text-align: center;
    }
