<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body id="page-top" data-spy="scroll" data-target=".card" data-offset="50">

  <% include ../partials/nav.ejs %>

  <% include ../partials/preborder.ejs %>
  <% include ../partials/border.ejs %>
  <% include ../partials/postborder.ejs %>
  <% include ../partials/kpis.ejs %>

  <% include ../partials/footer.ejs %>

</body>
</html>
